[submodule "1-Menu-System"]
	path = 1-Menu-System
	url = https://github.com/nomnomab/1-Menu-System.git
	branch = master
[submodule "2-RTS-Camera"]
	path = 2-RTS-Camera
	url = https://github.com/nomnomab/2-RTS-Camera.git
	branch = master
[submodule "3-Superhot"]
	path = 3-Superhot
	url = https://github.com/nomnomab/3-Superhot
	branch = master
